allow qti_init_shell debug_prop:property_service set;
allow qti_init_shell radio_prop:property_service set;
allow qti_init_shell system_radio_prop:property_service set;
allow qti_init_shell vendor_radio_data_file:dir { open read remove_name setattr getattr write add_name create };
allow qti_init_shell vendor_radio_data_file:file rw_file_perms;
allow qti_init_shell vendor_radio_data_file:file create_file_perms;
allow qti_init_shell sysfs_usb_rndis:file write;
